@charset "utf-8";

/* #visual */
#visual{
    position: relative;z-index: 80;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* font */
/*  font-family: 'Lato', sans-serif; 영어
    font-family: 'Roboto', sans-serif; 
    font-family: 'Noto Sans KR', sans-serif; 한글
    font-family: 'Nanum Brush Script', cursive; */

/* container */
#container{position: relative;background-color: #ffffff;}

/* best_seller */
#container>.best_seller{width: 100%;border-top: 15px solid rgb(223, 223, 223);}
#container>.best_seller>h3{}
#container>.best_seller>h3>img{width: 100%;border-bottom: 5px solid rgb(223, 223, 223);}

#container>.best_seller>.bs_box{}
#container>.best_seller>.bs_box>ul{width: 100%;}
#container>.best_seller>.bs_box>ul>li{float: left;}
#container>.best_seller>.bs_box>ul>li>a{display: block;width: 200px;margin: 0 auto;}
#container>.best_seller>.bs_box>ul>li:nth-child(1)>a{display: block;width: 300px;height: 413px;background-image: url(../images/bs.png);background-repeat: no-repeat;}
#container>.best_seller>.bs_box>ul>li:nth-child(2)>a{display: block;width: 300px;height: 413px;background-image: url(../images/bs02.png);background-repeat: no-repeat;background-size: cover;}
#container>.best_seller>.bs_box>ul>li:nth-child(3)>a{display: block;width: 300px;height: 413px;background-image: url(../images/bs.png);background-repeat: no-repeat;background-size: cover;}

/* must have */
#container>.more_ct{width: 100%;border-top: 15px solid rgb(223, 223, 223);}
#container>.more_ct>h3{}
#container>.more_ct>h3>img{width: 100%;border-bottom: 5px solid rgb(223, 223, 223);}

#container>.more_ct>.more_box>h3{}
#container>.more_ct>.more_box>h3>img{width: 100%;}
#container>.more_ct>.more_box>h4{position: absolute;font-size: 24px; color: #fff;font-weight: bold; text-align: center; margin-left: 18%; margin-top: -69%;text-shadow: 2px 2px 2px gray;font-family: 'Lato', sans-serif;}
#container>.more_ct>.more_box>h5{position: absolute;font-size: 25px;color: #fff;text-align: center; margin-left: 25%; margin-top: -52%;text-shadow: 2px 2px 2px gray;font-family: 'Nanum Brush Script', cursive;}
#container>.more_ct>.more_box>a{position: absolute;margin-left: 43%;width: 60px;height: 24px;text-align: center; margin-top: -30%;font-size: 18px; color: #fff;border: 3px solid #fff;font-family: 'Nanum Brush Script', cursive;}

/* hot issue */
#container>.is_ct{width: 100%;border-top: 15px solid rgb(223, 223, 223);}
#container>.is_ct>.is_tit{}
#container>.is_ct>.is_tit>img{width: 100%;border-bottom: 5px solid rgb(223, 223, 223);}
#container>.is_ct>a>img{width: 100%;padding-bottom: 30px;}

#container>.is_ct>.is_box{width: 100%;}

#container>.is_ct>.is_box>a{}
#container>.is_ct>.is_box>a>img{width: 100%;margin-top: -3px;}

#container>.is_ct>.is_box>iframe{width: 90%;margin-left: 5%;padding-top: 10px;padding-bottom: 10px;}

/* map */
#container>.map_ct{width: 100%;border-top: 15px solid rgb(223, 223, 223);padding-bottom: 15px;}

#container>.map_ct>h3{}
#container>.map_ct>h3>img{width: 100%;border-bottom: 5px solid rgb(223, 223, 223);}

#map{width: 90%;height: 300px;margin-top: 15px;margin-left: 5%;}